<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-9 mx-auto">
      <h2>#<%= @tag.hashname %></h2>
      <div>
      <% @posts.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, :fill, 60, 60, fallback: "noimage.png", size:'200x200' %>
          <%= post.title %>
        <% end %>
        <span id="likes_<%= post.id %>"><%= render "users/likes/likes", post: post %></span>
      <% end %>
      </div>
    </div>
  </div>
</div>
