<%= @tag.hashname %>
<div>
<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
  <%= attachment_image_tag post, :image, :fill, 60, 60, fallback: "noimage.png", size:'200x200' %>
  <%= post.title %>
  <% end %>
  <span id="likes_<%= post.id %>"><%= render "users/likes/likes", post: post %></span>
<% end %>
</div>