<div class="container">
  <div class="row">
    <div class="col">
      <h1>投稿詳細画面</h1><span >閲覧数: <%= @post.view_counts.count %></span>
      <span id="post_comment_count">コメント数：<%= @post.post_comments.count %></span>
      <%= attachment_image_tag @post, :image, :fill, 60, 60, fallback: "noimage.png", size:'200x200' %>
      <%= @post.created_at.strftime('%Y/%m/%d') %>
      <span id="likes_<%= @post.id %>"><%= render "users/likes/likes", post: @post %></span>
      <%= @post.title %>
      <%= @post.company_name %>
      <% if @post.category.nil? %>
        今だけカテゴリ欄はない
      <% else %>
        <%= @post.category.name %>
      <% end %>
      <%= @post.introduction %>
      <%= @post.assignment %>
      <%= render_with_hashtags(@post.target) %>
      <%= link_to user_path(@post.user.id) do%>
      <%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, fallback: "noimage.png", size:'200x200' %>
      <%= @post.user.name %>
      <% end %>
      <%= @post.user.introduction %>
      <% if @post.user == current_user %>
      <%= link_to '編集', edit_post_path(@post), 'data-turbolinks': false %>
      <%= link_to '', post_path(@post), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-outline-danger fas fa-trash-alt" %>
      <% end %>
      <div id="post_comment_index_<%= @post.id %>">
        <%= render "users/post_comments/index", post: @post %>
      </div>
      <%= form_with model:[@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class:"form-control" %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>