
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="mt-4 item-categories">
      <h6>
        カテゴリー一覧
      </h6>
      <%= link_to  top_posts_path, class: "category-button", id: 'categoBtn', 'data-turbolinks': false do %>
        カテゴリーから探す
      <% end %>
      <div id="tree_menu">
        <ul class="categoryTree list-unstyled">
          <% @parents.each do |parent| %>
            <li class="category_parent">
              <%= link_to search_post_path(parent),'data-turbolinks': false do %>
                <input type="button" value="<%= parent.name %>" name="<%= parent.id %>" class="parent_btn">
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="categoryTree-child">
        </ul>
        <ul class="categoryTree-grandchild">
        </ul>
      </div>
    </div>
    </div>
    <div class="col-9">
<div class="row mt-4">
  <h2 class="text-center">New posts</h2>
  <div class="card-deck">
  <% num = 0 %>
  <% @posts.each do |post| %>
  <% num += 1 %>
    <% if num <= 6 %>
    <div class="col-4 mt-1 mx-auto">
      <div class="card border-info">
          <div class="card-header border-info">
            <h5 class="card-title"><%= post.title %></h5>
          </div>
          <div class="card-body text-center">
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :image, fallback: "noimage.png", class:"card-img-top" %>
            <% end %>

            <%= attachment_image_tag post.user, :profile_image, :fill, 90, 90, fallback: "noimage.png", size:'90x90', class:"rounded-circle" %>
            <%= post.user.name %>
            <small><%= post.created_at.strftime("%Y.%m.%d") %></small>
            </div>
          </div>
       </div>
    <% end %>
  <% end %>
  </div>
</div>
    </div>
  </div>
</div>
