<h2>ユーザー詳細ページ</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "noimage.png", size:'200x200' %>
<%= @user.name %>
<p><%= link_to @user.followings.count, followings_user_path(@user) %> フォロー ：<%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー</p>
<div id="follow_btn_<%= @user.id %>">
<%= render 'users/users/follow-btn', user: @user %>
</div>
<%= @user.introduction %>
<%= @user.job_category %>
<% if @user.id == current_user.id %>
  <%= link_to '編集', edit_user_path(@user) %>
<% end %>

<!--DM機能相互フォローのみ表示-->
<% if @user != current_user %>
<%= link_to "メッセージルーム", direct_message_path(@user) %>
<% end %>

