<h2>ユーザー詳細ページ</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "noimage.png", size:'200x200' %>
<%= @user.name %>
  <span id="follow_count"> フォロー：<%= link_to @user.followings.count, followings_user_path(@user) %></span>
  <span id="follower_count">フォロワー：<%= link_to @user.followers.count, followers_user_path(@user) %></span>
<div id="follow_btn_<%= @user.id %>">
  <%= render 'users/users/follow-btn', user: @user %>
</div>
<%= @user.introduction %>
<% if @user.id == current_user.id %>
  <%= link_to '編集', edit_user_path(@user) %>
<% end %>
<% if @user != current_user %>
  <%= link_to "メッセージルーム", direct_message_path(@user) %>
<% end %>

