<div class="bg-white">
  <div class="home-content wrapper home">
  </div>
  <div class="wrapper">
    <p class="top-content page-title">
      オープンイノベーション
    </p>
    <p class="page-title-p">
      ビジネスパートナーを探して<br>
      新たな価値を作り出そう<br>
      オープンイノベーションを促進させよう<br>
      アイデア、サービス、ノウハウ、データ、知識<br>
      革新的なビジネスモデル、研究成果、製品開発、サービス開発、組織改革、行政改革、地域活性化<br>
      ソーシャルイノベーション、国際化、プロセス改善等につなげよう！
    </p>
  </div>
</div>
<div class="wrapper">
  <p class="page-title-p pt-3">登録カテゴリー一覧</p>
  <span class="small">＊全部で251種類</span>
  <div class="card-deck">
  <% @root_categories.each do |root_category| %>
    <div class="col-4 mt-1 mx-auto">
      <div class="card border-info">
        <div class="card-header border-info text-center">
          <%= root_category.name %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div class="wrapper mt-4">
  <h2 class="text-center">New posts</h2>
  <div class="card-deck">
  <% @posts.each do |post| %>
    <div class="col-6 mt-1 mx-auto">
      <div class="card bg-secondary text-white border-info">
        <div class="card-header bg-transparent border-info">
          <h5 class="card-title"><%= post.title %></h5>
        </div>
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, fallback: "noimage.png", class:"card-img-top" %>
        <% end %>
        <div class="card-body text-center">
          <%= attachment_image_tag post.user, :profile_image, :fill, 90, 90, fallback: "noimage.png", size:'90x90', class:"rounded-circle" %>
          <%= post.user.name %>
          <small><%= post.created_at.strftime("%Y.%m.%d %H.%M") %></small>
        </div>
      </div>
     </div>
  <% end %>
  </div>
</div>