<div class="container">
  <span>検索：【<%= params[:word] %>】</span>
</div>
<% if @category == '1' %>
<div class="container">
  <div class="row col-8 mx-auto">
    <table class='table table-hover table-inverse' >
      <thead class="bg-light">
        <tr>
          <th>User</th>
          <th>フォロー</th>
        </tr>
      </thead>
      <tbody>
      <% @user.each do |user| %>
      <tr>
        <th>
        <%= link_to user_path(user.id) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "noimage.png", size:'40x40' %>
          <%= user.name %>
        <% end %>
        </th>
        <th>
        <div id="follow_btn_<%= user.id %>">
          <%= render 'users/users/follow-btn', user: user %>
        </div>
        </th>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<% if @category == '2' %>
  <div class='container'>
    <div class='row'>
      <% @post.each do |post| %>
        <div class="card col-3 mx-3 mb-4 embed-responsive shadow-sm">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, :fill, 40, 20, fallback: "noimage.png", size:'100x60', class:"card-img-top" %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "noimage.png", size:'100x60' %>
            </div>
            <div class="col-9 offset-2">
              <h5 class="card-title"><%= post.title %></h5>

            </div>
          </div>
        </div>
        <div class="card-footer">
          <p class="card-text"><%= post.target %><p>
        </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>