<div class="container">
  <span>検索：【<%= params[:word] %>】</span>
</div>
<% if @category == '1' %>
<div class="container">
  <div class="row col-8 mx-auto">
    <table class='table table-hover table-inverse' >
      <thead class="bg-light">
        <tr>
          <th>User</th>
          <th>フォロー</th>
        </tr>
      </thead>
      <tbody>
      <% @user.each do |user| %>
      <tr>
        <th>
        <%= link_to user_path(user.id) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "noimage.png", size:'40x40' %>
          <%= user.name %>
        <% end %>
        </th>
        <th>
        <div id="follow_btn_<%= user.id %>">
          <%= render 'users/users/follow-btn', user: user %>
        </div>
        </th>
      </tr>
      <% end %>
      </tbody>
    </table>
        <div class="mt-3">
          <%= paginate @user %>
        </div>
  </div>
</div>
<% end %>
<% if @category == '2' %>
  <div class='container'>
        <div class="col-12">
        <div class="card-deck">
          <% @posts.each do |post| %>
            <div class="col-6  mx-auto">
              <div class="card border-info mt-2">
                  <div class="card-header border-info">
                    <h5 class="card-title"><%= post.title.truncate(30) %></h5>
                  </div>
                  <%= link_to post_path(post.id) do %>
                    <%= attachment_image_tag post, :image, fallback: "noimage.png", class:"card-img-top" %>
                  <% end %>
                  <div class="text-center">
                    <%= render 'users/shared/post_category', post: post %>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title"><strong>紹介文</strong></h4>
                    <small><p class="card-text"><%= post.introduction %></p></small>
                    <h4 class="card-title">課題</h4>
                    <small><p class="card-text"><%= post.assignment %></p></small>
                  </div>
                  <div class="card-footer">
                    <span id="likes_<%= post.id %>">
                      <%= render "users/likes/likes", post: post %>
                    </span>
                    <small><%= render_with_hashtags(post.target) %></small>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mt-3">
          <%= paginate @posts %>
        </div>
    </div>
  </div>
<% end %>