<!DOCTYPE html>
<html>
  <head>
    <title>Enhp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <%= render 'shared/admin_header' %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>
    <main class="mx-auto" style="padding-top:60px">
    <% if flash[:notice] %>
      <div class="flash mt-2"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
